Euklidean Distance:

\begin{equation}
\sqrt{\sum_{i=1}^{n} (x_i - y_i)^2}
\end{equation}

Naive Bayes Theorem:
    
\begin{equation}
P(A|B) = \frac{P(B|A) * P(A)}{P(B)}
\end{equation}

Navice Bayes Theorem (explanation):

\begin{equation}
P(classA|features) = \frac{P(features|classA) * P(classA)}{P(features)}
\end{equation}

\begin{equation}
P(classA) = \frac{AllObservationsClassA}{AllObservations}
\end{equation}

\begin{equation}
P(features) = \frac{AllObservationsWithinRadius}{AllObservations}
\end{equation}

\begin{equation}
P(features|classA) = \frac{AllClassAObservationsWithinRadius}{AllClassAObservations}
\end{equation}

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('../datasets/Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [10]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix

X = df[['Age', 'EstimatedSalary']].values
y = df['Purchased'].values

x_scaler = StandardScaler()
X = x_scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

model = GaussianNB()
model.fit(X_train, y_train)
print(f'accuracy: {model.score(X_test, y_test)}')

cm = confusion_matrix(y_test, model.predict(X_test))
cm

accuracy: 0.9

array([[65,  3],
       [ 7, 25]])