# Sequences

- sequences are positionaly ordered iterables
- we can index them, or loop through them
- lists, tuples, strings

In [1]:
l = [1, 2, 3]
t = (1, 2, 3)
s = 'python'

l[0], t[1], s[2]

(1, 2, 't')

In [2]:
# iterating through a sequence
for x in l: 
    print(x)

1
2
3

## Sets are not sequences 
- they do not have positional ordering 
- we can iterate through them the same way we do with sequences
- order in which the elements are returned is not guaranteed

In [3]:
s = {1, 2, 'a', 'A'}

# we can't do this => set is not a sequence type
s[1]

TypeError: 'set' object is not subscriptable

In [5]:
# we can iterate through a set but the order of elements has no meaning
for e in s:
    print(e)

A
1
2
a

## Mutability vs. Immutability
- mutable sequence types: lists
- immutable sequence types: tuples, strings

In [6]:
# we can replace element in a list because lists are mutable
l = [1, 2, 3]
l[0] = 100
l

[100, 2, 3]

In [7]:
# we can't do the same with tuples or strings because they are immutable
t = (1, 2, 3)
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [8]:
# but we can modify objects stored withing immutable sequences
t = ([1, 2], 3, 4)
t[0][0] = 100
t

([100, 2], 3, 4)

In [11]:
# formally, we can't change memory location of the object stored in an immutable sequence
t = ([1, 2], 3, 4)
orig_id = id(t[0])

t[0][0] = 100
current_id = id(t[0])

# the memory location of the first element of the tuple has not been changed even
# though we have modified it
orig_id, current_id, orig_id == current_id

(139878231065696, 139878231065696, True)

## in (operator)
- we can use in operator to check whether certain element can be found in a sequence

In [12]:
100 in [1, 2, 100]

True

In [13]:
'a' in {'a', 'b', 'c'}

True

In [14]:
'hello' in 'hello world'

True

In [15]:
# it also works with ranges
100 in range(200)

True

## min, max (functions)
- we can find min and mix of an iterable using min and max functions 
but elements within the sequence must be pairwise comparable

In [16]:
l = [1, 2, 3, 4, 5]
min(l), max(l)

(1, 5)

In [19]:
# dictionaries are not sequences but they are iterable
d = {'a': 100, 'b': 200, 'c': 300}
min(d), max(d)

('a', 'c')

In [20]:
# we can't do this because elements (1 and 'a') that are stored within the list right now
# are not pairwise comparable
l = [1, 'a']
min(l)

TypeError: '<' not supported between instances of 'str' and 'int'

In [23]:
# elements in the list doesn't need to bo homegeneous (has the same type)
# they just need to be comparable
from decimal import Decimal

l = [10, 10.5, Decimal('50.3')]
min(l), max(l)

(10, Decimal('50.3'))

## concatenation
- we can concatenate sequences but they need to be of the same type

In [24]:
[1, 2, 3] + ['a', 'b', 'c']

[1, 2, 3, 'a', 'b', 'c']

In [25]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [26]:
# we can't concatenate list with tuple
[1, 2, 3] + (4, 5, 6)

TypeError: can only concatenate list (not "tuple") to list

In [27]:
# the same way we can't concatenate string with list
'abc' + ['d', 'e', 'f']

TypeError: can only concatenate str (not "list") to str

In [28]:
# if we need to, we can either convert the string into a list, or
# convert the list into a string

# this will work and we will get list in return
list('abc') + ['d', 'e', 'f']

['a', 'b', 'c', 'd', 'e', 'f']

In [30]:
# this will also work and we will get string instead
'abc' + ''.join(['d', 'e', 'f'])

'abcdef'

In [31]:
# we need to be careful with the join operation because though because
# elements we are joining need to be strings 

# this will not work, we can't join integers together
''.join([1, 2, 3])

TypeError: sequence item 0: expected str instance, int found