In [21]:
library(ISLR)
library(boot)
set.seed(1)

In [14]:
head(Auto)

  mpg cylinders displacement horsepower weight acceleration year origin
1 18  8         307          130        3504   12.0         70   1
2 15  8         350          165        3693   11.5         70   1
3 18  8         318          150        3436   11.0         70   1
4 16  8         304          150        3433   12.0         70   1
5 17  8         302          140        3449   10.5         70   1
6 15  8         429          198        4341   10.0         70   1
  name
1 chevrolet chevelle malibu
2 buick skylark 320
3 plymouth satellite
4 amc rebel sst
5 ford torino
6 ford galaxie 500

In [15]:
train = sample(392, 196)

In [16]:
lm.fit = lm(mpg~horsepower, data=Auto, subset=train)
lm.pred = predict(lm.fit, Auto)[-train]
mse = mean((Auto[-train, 1] - lm.pred) ^ 2)
mse

[1] 23.26601

### using polynomial horsepower predictor

In [19]:
lm.fit = lm(mpg~poly(horsepower, 2), data=Auto, subset=train)
lm.pred = predict(lm.fit, Auto)[-train]
mse = mean((lm.pred - Auto$mpg[-train]) ^ 2)
mse

[1] 18.71646

In [20]:
lm.fit = lm(mpg~poly(horsepower, 3), data=Auto, subset=train)
lm.pred = predict(lm.fit, Auto)[-train]
mse = mean((lm.pred - Auto$mpg[-train]) ^ 2)
mse

[1] 18.79401

### LOOCV

In [23]:
glm.fit = glm(mpg~horsepower, data=Auto) # standard linear regression
cv.err = cv.glm(Auto, glm.fit)
names(cv.err)

[1] "call"  "K"     "delta" "seed"

In [24]:
cv.err$delta

[1] 24.23151 24.23114

In [26]:
# measuring loocv for polynomial features (1 through 5)
cv.error = rep(0, 5)
for (i in 1:5) {
    glm.fit = glm(mpg~poly(horsepower, i), data=Auto)
    cv.error[i] = cv.glm(Auto, glm.fit)$delta[1]
}
cv.error

[1] 24.23151 19.24821 19.33498 19.42443 19.03321

### k-Fold Cross-Validation

In [28]:
set.seed(17)
cv.error.10 = rep(0, 10)
for (i in 1:10) {
    glm.fit = glm(mpg~poly(horsepower, i), data=Auto)
    cv.error.10[i] = cv.glm(Auto, glm.fit, K=10)$delta[1]
}
cv.error.10

 [1] 24.27207 19.26909 19.34805 19.29496 19.03198 18.89781 19.12061 19.14666
 [9] 18.87013 20.95520